@media (min-width:320px){
    .hero_section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/background-image/Dark-bg_mob.jpg');
    }
}
 @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
.hero_section {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url('../images/background-image/Dark-bg_mob@2x.jpg');
}
.portfolio-foto{
    width: 288px;
    height: 280px;
}
}

@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
    }
    .ul-address{
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: end;
    }
    
    /*hero-section*/
    .hero_section{
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/background-image/Dark-bg_tab.jpg');
    }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
            .hero_section {
                background-image: url('../images/background-image/Dark-bg_tab@2x.jpg');
            }
        }
    .header-menu-toggle {
            display: none;
        }
        .ul-description-of-professions {
            gap: 72px 24px;
        }
.li-description-of-professions {
    flex-basis: calc((100% - 24px) / 2);
}
.section-description-of-professions{
    padding: 96px 0;
}
.heder-three {
    text-align: start;
}
/*section-our-team*/

.li-our-team {
    flex-basis: calc((100% - 72px) / 2);
}
.container-section-our-team {
    max-width: 768px;
    padding: 0 108px;
}
.our-team {
    display: flex;
    gap:64px 24px;
    justify-content: center;
    flex-direction:row;
    align-items: center;
}
.frame-icon {
    max-width: 768px;
}
.list-icons-our-team {
    padding: 0 16px;
}
/* section-portfolio*/
.container-portfolio {
    max-width: 768px;
    padding: 0 16px;
}
.ul-our-portfolio {
    display: flex;
    gap: 72px 24px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.li-our-portfolio {
    flex-basis: calc((100% - 24px) / 2);
}
.portfolio-foto{
    width: 356px;
    height: 300;
}
.container.footer-inner{
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    padding: 0 108px;
}
.footer-logo-container {
    display: flex;
        flex-direction: column;
        align-items:start ;
        justify-content: center;
        padding: 0;
        width: 264px;
        
}
.container-social-media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
}
.subscribe-footer {
    display: flex;
    align-items:start ;
    justify-content: center;
    flex-wrap: wrap;
    
}
.form-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}
.footer-email-input {
    width: 264px;
}
.modal{
position: absolute;
width: 408px;
min-height: 584px;
top: 50%;
left: 50%;
background-color: #FCFCFC;
border-radius: 4px;
padding-top: 72px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 24px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 1px 3px rgba(0, 0, 0, 0.12),
0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translate(-50%, -50%) scale(1);
}

}
@media only screen and (max-width:767.98px) {
    .ul-logo {
        display: none;
    }
    .ul-address {
        display: none;
    }
}
@media (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
.hero_section {
    width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/background-image/people-office.jpg');
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero_section {
        background-image: url('../images/background-image/people-office\ 1_desc@2x.jpg');
    }
}
.header-menu-toggle{
    display: none;
}
    .ul-description-of-professions {
        gap: 24px;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .li-description-of-professions {
        flex-basis: calc((100% - 72px) / 4);
    }
    .heder-three {
        font-weight: 500;
        font-size: 20px;
        text-align: start;
    }
    .p-heder-three {
        font-weight: 400;
        width: 264px;
    }
        .section-description-of-professions {
            background-color: var(--c-background-white);
            padding: 120px 0;
        }
    
        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--c-background-light);
            border: 1px solid var(--c-border);
            border-radius: 4px;
            margin-bottom: 8px;
            width: 264px;
            height: 112px;
            flex-shrink: 0;
    
        }
    /*section-our-team*/
        .li-our-team {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
        .section-our-team {
            padding: 120px 0;
        }
.container-section-our-team {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
.our-team {
    flex-wrap: nowrap;
}
/*section-portfolio*/
.section-portfolio {
    padding: 120px 0;
}
.container-portfolio {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
.ul-our-portfolio {
    flex-wrap: wrap;
     row-gap:48px ; 
     column-gap: 24px;
     margin-bottom: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}
.li-our-portfolio {
    flex-basis: calc((100% - 48px) / 3);
}
.footer {
    padding: 100px 0;
}
.container.footer-inner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.footer-logo-container {
    
}
.a-footer-logo{
    margin-bottom: 16px;
}
.p-footer-logo-studio{
    max-width: 264px;
}
.p-subscribe-footer{
    padding-left: 80px;

}
.container-social-media{
    margin: 0;
    padding-right: 80px;
}
.form-subscribe{
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-direction: row;
    gap: 24px;
}
.footer-email{
    padding-left: 80px;
    padding-top: 16px;

}
.footer-email-input{
width: 264px;
border: 1px solid #ffffff;
}
.subscribe-footer{
    display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 0;
}
.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
}

}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero_section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/background-image/Dark-bg_mob@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero_section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/background-image/Dark-bg_tab.jpg')
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero_section {
        background-image: url('../images/background-image/Dark-bg_tab@2x.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero_section {
        background-image: url('../images/background-image/people-office\ 1_desc@2x.jpg');
    }
}