:root{

    --c-brand:#4d5ae5;
    --c-primary:#2e2f42;
    --c-primary-slate:#434455;
    --с-variable:#404bbf;
    --c-background-white:#FFFFFF;
    --c-background-light:#F4F4FD;
    --c-background-portfolio:#E7E9FC;
    --c-border:#8E8F99;
}
  /*Base*/
  html{
    scroll-behavior:smooth;
  }
body {
    font-family: Roboto, sans-serif;
    color: var(--c-primary-slate);
    background-color: var(--c-background-white);
}
 ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;

}
a{
    text-decoration: none;
    display: inline-block;
}
 p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

  /*End Base*/

  /*logo section*/
  .container {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
  }

 .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .header-address{
    display:flex;
    align-items:center;
    padding: 24px 24px ;
 }
 .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.header-class{
border-bottom: 1px solid var(--c-background-portfolio);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
}
.logo-style{
    color: var(--с-variable);
    margin-right: 76px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    padding: 16px 0;

}
.ul-logo{
    display: flex;
    gap: 40px;

}
.li-logo-studio{
    
    
    
}
.ul-address{
    display: flex;
    gap: 40px;
}
.logo-studio{
    color: var(--c-primary);
    font-family: Raleway, sans-serif;

}
.nav-link{
    color:var(--c-primary);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing:0.02em;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover{ 
 color: #404bbf;
}
.nav-link:focus{
    color: var(--с-variable);
}
.current{
    position: relative;
    color:#404bbf;
}
.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
.header-address{
    font-style:normal;
    
}

.contact{
    color: var(--c-primary-slate);
    line-height:1.5;
    letter-spacing:0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover{
    color: var(--с-variable);
}
.contact:focus{
    color: var(--с-variable);
}
.header-menu-toggle{
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: auto;

    
}
/*End logo section*/

/*Hero section*/
.hero_section{
    background-image:linear-gradient(rgba(46,47,66,0.7),rgba(46,47,66,0.7)),url('../images/background-image/Dark-bg_mob.jpg');
    background-color: var(--c-primary);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center; 
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    width: 100%;
}


.heder-one{
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--c-background-white);
    margin-bottom: 48px;
}

.button{
    background-color: var(--c-brand);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--c-background-white);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover{
    background-color: var(--с-variable);
}
.button:focus{
    background-color: var(--с-variable);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}


/*End hero section*/

/*section-description-of-professions*/
.section-description-of-professions {
    background-color: var(--c-background-white);
    padding: 96px 0;
}

.box{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--c-background-light);
    border: 1px solid var(--c-border);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
        
}
.ul-description-of-professions{
    display: flex;
    flex-wrap: wrap;
    /*gap: 24px;*/
    gap: 72px;
    

}
.li-description-of-professions{
    /*flex-basis: calc((100% - 72px) / 4);*/
    flex-basis: 100%;
}
.heder-three{
    /*font-weight: 500;
    font-size: 20px;*/
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-primary);
    margin-bottom: 8px;
    text-align: center;
   
    

}
.p-heder-three{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em;
    align-self: stretch;
    color: var(--c-primary-slate);
    /*width: 264px;*/
}
/*End section-description-of-professions*/

/*section-our-team*/

.section-our-team{
    background-color: var(--c-background-light);
    /*padding: 120px 0;*/
    padding: 96px 0;
    
}
.container-section-our-team{
    flex-direction: column;
    width: 100%;
    margin:0 auto;
    padding-left: 28px;
    padding-right: 28px;
background-color: var(--c-background-light);
}
.header-two-our-team{
    font-weight: 700;
    font-size: 36px;
    letter-spacing :0.02em;
    line-height:1.11;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform:capitalize;
    color: var(--c-primary);
    margin-bottom: 72px;
}
.our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}
.li-our-team{
   /*flex-basis: calc((100% - 3 * 24px) / 4);*/
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        flex-basis: 100% ;
}

.container-our-team{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--c-background-white);
}

.heder-three-o-team {
 margin-bottom: 8px;
 text-align: center;
}
.p-heder-three-our-team {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: var(--c-primary-slate);
    text-align:center;
    margin-bottom: 8px;
    
}
.list-icons-our-team{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;

}
.link-icons-our-team{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icon-our-team{
    width: 100%;
    height: 100%;
    background-color:var(--c-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icon-our-team:hover{
    background-color: var(--с-variable);
}
.a-icon-our-team:focus{
    background-color: var(--с-variable);
}
.frame-icon{
    fill: var(--c-background-light);
}
/*End section-our-team*/

/*section-our-portfolio*/

.section-portfolio{
    color: var(--c-background-white);
    padding-top: 96px;
    padding-bottom: 96px;

}
.container-portfolio{
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.heder-two-our-portfolio{
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--c-primary);
    margin-bottom: 72px;
}
.images-porfolio{
    position: relative;
    overflow: hidden;
}
.ul-our-portfolio{
   /* flex-wrap: wrap;
    row-gap: 48px;
    margin-bottom: 0px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}
.li-our-portfolio{
   /* width: calc((100% - 48px) / 3);*/
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-basis: 100%;
}
.li-our-portfolio:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay{
   position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-our-portfolio:hover .portfolio-overlay{
    transform: translateY(0%);
}
.portfolio-overlay:hover{
    transform: translateY(100%);
}
.container-our-portfolio{
    padding:32px 16px;
    border: 1px solid var(--c-background-portfolio);
    border-top: none;

}
.heder-three-our-portfolio{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-primary);
    font-weight: 500;
    margin-bottom: 8px;
}
.p-heder-three-portfolio{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: var(--c-primary-slate);
    font-style: normal;
    font-weight: 400;
}

.p-heder-three-portfolio:hover{
    transform: translateY(0%);
}
/* End section-our-portfolio*/

/* section-footer*/

.footer{
    background-color: var(--c-primary);
    /*padding: 100px 0;*/
    padding: 97px 0;
}
 .container.footer-inner{
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    /*align-items: baseline;*/
    width: 100%;
    margin: 0 auto;
   
}
.footer-logo-container{
    /*margin-right:120px;*/
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
   
}
.a-footer-logo{
    font-family: Raleway, sans-serif;
    display: inline-block;
   /* margin-bottom: 16px;*/
   margin-bottom: 17px;
    color: var(--c-brand);
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-logo-studio{
    color: var(--c-background-light);
}
.p-footer-logo-studio{
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    color: var(--c-background-light);
    letter-spacing: 0.02em;
    /*max-width: 264px;*/
        width: 288px;
        height: 72px;  
}
.container-social-media{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 72px;
    
}
.p-social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;  
    color: var(--c-background-white);
}
.ul-social-media{
    display: flex;
    gap: 16px;
}
.link-icons-footer{
    width: 40px;
    height: 40px;
}
.a-link-icons-footer{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
     transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-link-icons-footer:hover{
    background-color: #31d0aa;
}
.a-link-icons-footer:focus{
    background-color: #31d0aa;
}
.frame-icon-footer{
    fill: #f4f4fd;
}
.subscribe-footer{
    display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center;
    margin-top: 72px;
}
.p-subscribe-footer{
   /* margin-bottom: 16px;*/
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    /*padding-left: 80px;*/
    
}
.form-subscribe{
   /* display: flex;
    gap: 24px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
margin-top: 16px;
}
.footer-email{
   /* padding-left: 80px;*/
   

}
.footer-email-input{
   /* width: 264px;*/
   width: 288px;
    height: 40px;
    /*border: 1px solid #ffffff;*/
    border: 1px solid var(--WHITE, #FFF);
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
.E-mail{
    color: #ffffff;
}
.button-subscribe{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.subscribe-icon{
    margin-left: 16px;
    fill: var(--c-background-white);
}
/* Modal */
/* End Modal*/

.backdrop{
    position:fixed;
    inset: 0;
    background-color:rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
   /* width: 408px;
    min-height: 584px;*/
    width: 288px;
    min-height: 623px;
    top: 50%;
    left: 50%;
    background-color:#FCFCFC;
    border-radius: 4px;
    padding-top: 72px;
    /*padding-left: 24px;
    padding-right: 24px;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
               0px 1px 3px rgba(0, 0, 0, 0.12),
               0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);

}
.backdrop.is-open.modal{
    transform: scale(0);

}
.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.close-icon:focus{
    fill: #4D5AE5;
}
.p-modal{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px;
}
.user-data{
    margin-bottom: 8px;
}
.input-icon-data:focus + .icon-data{
    fill: #4D5AE5;
}
.user-information{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}
.input-icon-data{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon-data:focus{
    border-color: #4D5AE5;
}
.user-icon-data{
    position: relative;
}
.modal-close:hover{
    background-color: #404bbf;
    border: none;
}
.modal-close:focus{
    background-color: #404bbf;
    border: none;
}
.modal .modal-close:hover{
    fill: #ffffff;
}
.modal .modal-close:focus{
    fill: #ffffff;
}
.icon-data{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.input-icon-data:focus+.icon-person{
    fill: #4D5AE5;
}
.person-comment{
    margin-bottom: 16px;
}
.user-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus{
    border-color: #4D5AE5;
}
.user-checkbox{
    margin-bottom: 24px;
}
.user-privacy{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.privacy-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.a-privacy-policy{
    color: #4d5ae5;
}
.button-send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.privacy-input:checked + .user-privacy > .privacy-span{
background-color:#404bbf;
border: none;
fill: #F4F4FD;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    padding: 72px 16px 40px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: transform 300ms ease-in;
}
.menu-container.is-open {
    transform: translate(0);

}
.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid var(--c-border);
    border-radius: 50%;
    background-color: #E7E9FC;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-icon {}

.mobile-menu-list {
    display: inline;
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--c-primary);
}
.mobile-menu-link.current{
color: var(--с-variable);
}
.mobile-contacts {
    display: inline;
    margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-contacts-link{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--c-primary-slate);
}
.mobile-contacts-link.accent{
    color: var(--c-brand);
}
.mobile-socials{
    display: flex;
    align-items: center;
    gap: 40px;
}


.mobile-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--c-brand);
    border-radius: 50%;
}

.mobile-socials-icon{
    fill: var(--c-background-white);
  
}